$font-color: #0ff;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #404258;
$background-alternative-color: #474E68;
$border-top: #0ff;
$green-color-a: #00FF52;
$code-pre-code: #00008B;
