.landingpage {
    display: grid;
    gap: 1em 2em;
    width: 635px;
    height: 400px;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(5, auto);
}

.landingpage h1 {
    grid-column: span 3;
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: -12px -12px 8px $border-top;
    font-size: 28px;
}

.landingpage .html {
    grid-column: span 2;
}

.landingpage .javascript {
    grid-column: span 2;
}

.landingpage .sqlite {
    grid-column: span 2;
}

.landingpage .python {
    grid-column: span 3;
}

.single-technology {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.tech-menu {
    width: 30%;
}

.tech-content {
    width: 60%;
}

.tech-menu ul {
    margin: 6px;
}

@media (max-width: 767px) {
    .landingpage .css, .php, .git {
        grid-column: span 3;
    }

    .landingpage .html,
    .landingpage .javascript,
    .landingpage .sqlite {
        grid-column: span 3;
    }

    .landingpage h1 {
        grid-column: span 3;
    }
}

@media (max-width: 767px) {
    .single-technology {
        display: block;
    }
}

@media (max-width: 767px) {
    .tech-menu {
        display: none;
    }
}

@media (max-width: 767px) {
    .tech-content {
        width: 100%;
    }
}
